---
import Layout from "../layouts/Layout.astro";
import Locations from "../components/Locations.astro";
---

<Layout title="Contact us">
  <main>
    <section id="contact-us">
      <div class="left-container">
        <h1>Contact Us</h1>
        <p>
          Ready to take it to the next level? Let’s talk about your project or
          idea and find out how we can help your business grow. If you are
          looking for unique digital experiences that’s relatable to your users,
          drop us a line.
        </p>
      </div>
      <div class="right-container">
        <form method="post">
          <input type="text" placeholder="Name" />
          <input type="email" placeholder="Email Address" />
          <input type="text" placeholder="Phone" />
          <textarea name="" id="" cols="30" rows="10" placeholder="Your message"
          ></textarea>
          <button>Submit</button>
        </form>
      </div>
    </section>

    <Locations />
  </main>
</Layout>

<style lang="scss">
  #contact-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 160px;
    background-color: var(--peach);
    padding: 40px 95px;
    align-items: center;
    border-radius: 16px;
    background-image: url("/assets/about/desktop/bg-pattern-hero-about-desktop.svg");
    background-repeat: no-repeat;
    background-position: 0% 100%;

    .left-container {
      color: var(--white);

      h1 {
        font-size: 48px;
        line-height: 56px;
        font-weight: 500;
      }

      p {
        font-size: 16px;
        line-height: 26px;
        line-height: 150%;
        font-weight: 400;
      }
    }

    .right-container {
      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        input,
        textarea {
          all: unset;
          height: 40px;
          border-bottom: 1px solid var(--white);
          color: var(--white);
        }

        input::placeholder,
        textarea::placeholder {
          color: var(--white);
          opacity: 0.5;
        }

        textarea {
          height: 160px;
          resize: none;
          word-wrap: break-word;
        }

        button {
          all: unset;
          background-color: var(--white);
          color: var(--black);
          font-size: 16px;
          font-weight: 500;
          width: 152px;
          height: 62px;
          border-radius: 8px;
          cursor: pointer;
          text-align: center;
          text-transform: uppercase;
          margin-left: auto;
          letter-spacing: 1px;
        }
      }
    }
  }
</style>
