---
import Layout from "../layouts/Layout.astro";

const benefits = [
  {
    title: "Passionate",
    description:
      "Each project starts with an in-depth brand research to ensure we only create products that serve a purpose. We merge art, design, and technology into exciting new solutions.",
    image: "/assets/home/desktop/illustration-passionate.svg",
  },
  {
    title: "Resourceful",
    description:
      "Everything that we do has a strategic purpose. We use an agile approach in all of our projects and value customer collaboration. It guarantees superior results that fulfill our clients’ needs.",
    image: "/assets/home/desktop/illustration-resourceful.svg",
  },
  {
    title: "Friendly",
    description:
      "We are a group of enthusiastic folks who know how to put people first. Our success depends on our customers, and we strive to give them the best experience a company can provide.",
    image: "/assets/home/desktop/illustration-friendly.svg",
  },
];
---

<Layout title="Home">
  <main>
    <section id="hero" class="hidden">
      <div class="text">
        <h1>Award-winning custom designs and digital branding solutions</h1>
        <p>
          With over 10 years in the industry, we are experienced in creating
          fully responsive websites, app design, and engaging brand experiences.
          Find out more about our services.
        </p>
        <a href="/about">Learn More</a>
      </div>
      <div class="image">
        <img src="/assets/home/desktop/image-hero-phone.png" alt="hero" />
      </div>
    </section>

    <section id="projects">
      <div class="left-project">
        <a href="/projects/web-design" class="hidden">
          <div class="project" id="web-project">
            <h2>Web Design</h2>
            <p>View Projects</p>
          </div>
        </a>
      </div>
      <div class="right-project">
        <a href="/projects/app-design" class="hidden">
          <div class="project hidden" id="app-project">
            <h2>App Design</h2>
            <p>View Projects</p>
          </div>
        </a>
        <a href="/projects/graphic-design" class="hidden">
          <div class="project" id="graphic-project">
            <h2>Graphic Design</h2>
            <p>View Projects</p>
          </div>
        </a>
      </div>
    </section>

    <section id="benefit">
      {
        benefits.map((benefit) => (
          <div class="benefit hidden">
            <div class="image-background">
              <img
                class="image-benefit"
                src={benefit.image}
                alt={benefit.title}
              />
            </div>
            <h2>{benefit.title}</h2>
            <p>{benefit.description}</p>
          </div>
        ))
      }
    </section>
  </main>
</Layout>

<style lang="scss">
  #hero {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    align-items: center;
    padding: 0 95px;
    background-color: var(--peach);
    border-radius: 15px;
    background-image: url("/assets/home/desktop/bg-pattern-hero-home.svg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    overflow: hidden;
    max-height: 640px;

    .text {
      h1,
      p {
        color: var(--white);
      }

      h1 {
        margin-bottom: 12px;
        max-width: 540px;
      }

      p {
        max-width: 445px;
        margin-bottom: 40px;
      }

      a {
        background-color: var(--white);
        border-radius: 8px;
        border: none;
        padding: 16px 24px;
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: var(--dark-grey);
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: var(--light-peach);
          color: var(--white);
        }
      }
    }

    .image {
      position: relative;
      max-height: 640px;
      left: -50px;
      top: -20px;

      img {
        width: 130%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
          rotate: 7.5deg;
        }
      }
    }
  }

  #projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    height: 640px;

    .project {
      background-color: var(--peach);
      border-radius: 15px;
      height: 100%;
      color: var(--white);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: inset 0 0 0 1000px hsla(0, 0%, 8%, 0.6);
      transition: all 0.3s ease-in-out;
      background-size: 100%;

      &:hover {
        background-size: 110%;
        box-shadow: inset 0 0 0 1000px hsla(11, 72%, 66%, 0.9);
      }

      h2 {
        margin: 0;
        font-size: 40px;
        line-height: 22px;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      p {
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-top: 24px;
      }
    }

    .left-project {
      display: grid;

      a {
        transition-delay: 200ms;
      }

      #web-project {
        background-image: url("/assets/home/desktop/image-web-design-large.jpg");
      }
    }

    .right-project {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      gap: 24px;

      a:nth-child(1) {
        transition-delay: 400ms;
      }

      a:nth-child(2) {
        transition-delay: 600ms;
      }

      #app-project {
        background-image: url("/assets/home/desktop/image-app-design.jpg");
      }

      #graphic-project {
        background-image: url("/assets/home/desktop/image-graphic-design.jpg");
      }
    }
  }

  #benefit {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;

    .benefit {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;

      .image-background {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .image-benefit {
          transition: all 0.25s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }

        &:hover {
          .image-benefit {
            transform: scale(1.1);
          }
        }
      }

      h2 {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 5px;
        color: var(--dark-grey);
      }

      p {
        text-align: center;
        color: var(--dark-grey);
      }
    }

    .benefit:nth-child(1) {
      transition-delay: 200ms;
      .image-background {
        background: linear-gradient(
          270deg,
          rgba(93, 2, 2, 0.0001) 0%,
          rgba(93, 2, 2, 0.1) 100%
        );
      }
    }

    .benefit:nth-child(2) {
      transition-delay: 400ms;
      .image-background {
        background: linear-gradient(
          180deg,
          rgba(93, 2, 2, 0.0001) 0%,
          rgba(93, 2, 2, 0.1) 100%
        );
      }
    }

    .benefit:nth-child(3) {
      transition-delay: 600ms;
      .image-background {
        background: linear-gradient(
          0deg,
          rgba(93, 2, 2, 0.0001) 0%,
          rgba(93, 2, 2, 0.1) 100%
        );
      }
    }
  }
</style>
